<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microservice Template</title>
</head>
<body>
  <h2>Microservice Template for Python</h2>
  <p>This web service provides the user with a practical template to start building your own Microservice.</p>
  <p>Acces the "<a href="http://localhost:5000/op">op</a>" type, which represents the operation performed by the web service.</p>
</body>
</html>