<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Operations</title>
</head>
<body>
  <h2>Operations Page</h2>
  <p>This is the Operations Page. Add a concept to the endpoint to access the operation provided by this Microservice.</p>
  <p>In this template the example concept is "<a href="http://localhost:5000/op/some-operation">some-operation</a>".</p>
</body>
</html>